{% extends "base.html.twig" %}

{% block title %}
    Compte
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        
        {{ form_start(form) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_end(form) }}
    </div>
</div>
    
{% endblock %}