{% extends "base.html.twig" %}

{% block title %}
    produit {{produit.id }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{produit.titre}}
            {{produit.prix|number_format(2, '.', ',')}}
            {% for img in produit.images %}
                {{img.titre}}
                <img src="{{img.url}}" alt="{{img.titre}}">
            {% endfor %}
            <a href="{{path('produit_edit', {'id': produit.id})}}">Editer</a>
            <a href="{{path('produit_remove', {'id': produit.id})}}">X</a>
        </div>
    </div>
{% endblock %}