{% extends "base.html.twig" %}

{% block title %}
    produit {{produit.id }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{produit.titre}}
            {{produit.prix|number_format(2, '.', ',')}}
            <a href="{{path('produit_edit')}}">Editer</a>
            <a href="{{path('produit_remove', {'id': ''})}}">X</a>
        </div>
    </div>
{% endblock %}