{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <ul>
            {% for prod in produit %}
                <li>{{prod.titre}}</li>
                <li>{{prod.prix|number_format(2, '.', ',')}} €</li>
                <hr>
                {% for img in images %}
                    <li>{{img.titre}} </li>
                    <li><img src="{{img.url}}" alt="{{img.titre}}"></li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
