{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


{% for prod in produit %}
    

  <a href="{{path('produit_show', {'id': prod.id})}} ">{{prod.titre}}</a>
        {{prod.prix|number_format(2, '.', ',')}}
        {% for img in images %}
          <p class="lead"><img src="{{img.url}}" alt="{{img.titre}}" /> {{img.titre}}</p>
        {% endfor %}
      
{% endfor %}
  


{% endblock %}
